# Implementasi K-Means Clustering

K-means merupakan salah satu algoritma yang bersifat unsupervised learning. K-Means memiliki fungsi untuk mengelompokkan data kedalam data cluster.

## Data yang digunakan

*   Dataset [Breast Cancer Coimbra](https://raw.githubusercontent.com/MuhammadKurniaSani-me/Breast-Cancer-Coimbra/main/dataR2.csv)

*   Excel [Hitung Manual K-Means](https://docs.google.com/spreadsheets/d/1C4oXgR2IY3kYffSt4ZRon0cQdYuC6p_o/edit?usp=sharing&ouid=112136363283441156113&rtpof=true&sd=true)

In [ ]:
#mengimpor paket pandas kemudian diberi nama alias pd
import pandas as pd
#mengimpor paket numpy kemudian diberi nama alias np
import numpy as np
from numpy import unique
from numpy import where
from matplotlib import pyplot
from sklearn import preprocessing
from sklearn.cluster import KMeans

In [ ]:
# membaca dataset csv dari url
url = 'https://raw.githubusercontent.com/MuhammadKurniaSani-me/Breast-Cancer-Coimbra/main/dataR2.csv'
data = pd.read_csv(url)

In [ ]:
data.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [ ]:
#mengecek ada berapa kolom dan berapa baris di dalam dataset
data.shape

(116, 10)